<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAO.Properties.Settings.banco" connectionString="Data Source=DESKTOP-9RN91MC\SQLEXPRESS;Initial Catalog=bancomvc;Persist Security Info=True;User ID=sa;Password=@dmin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>